Thunbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
_ReSharper*/
#Ignore files build by Visual Studio
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
[Tt]est[Rr]esult*
