<!DOCTYPE html>
<html lang="en">
<head>
    <title id='Description'>This sample illustrates how to create a Splitter with Nested
        Side Splitters</title>
    <link rel="stylesheet" href="../Script/styles/jqx.base.css" type="text/css" />
    <link rel="stylesheet" href="../Script/styles/jqx.orange.css" type="text/css" />
    <script type="text/javascript" src="../Script/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="../Script/jquery.cookie.js"></script>
    <script type="text/javascript" src="../Script/jqx-all.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#splitContainer').jqxSplitter({ height: 800, width: 1200, orientation: 'horizontal', panels: [{ size: '10%' }, { size: '80%'}] });
            $('#splitter').jqxSplitter({ width: '100%', panels: [{ size: 200 }, { size: 200}] });
            $("#tabswidget").jqxTabs({ height: '100%', width: '100%' });
        });
    </script>
</head>
<body class='default'>
    <div>
       
        
    </div>
</body>
</html>
